* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
}

main {
    width: 800px;
    margin-top: 5px;
}

h1 {
    margin: 3px;
    font-family: "Georgia", serif;
    font-size: 36px;
    font-weight: bold;
}

h2 {
    font-family: "Georgia", serif;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.08em;
}

ul {
    padding-left: 0;
    margin-left: 15px;
  }
  
li {
    margin-bottom: 10px;
    line-height: 1.4;
  }

a:hover {
    font-size: 15px;
}

.first_section {
    display: flex;
    align-items: center;
    height: 170px;
    background: linear-gradient(135deg, #1D1F20, #393E46);
}

.auxiliar {
    display: flex;
    flex-direction: column;
    height: 170px;
    color: #fff;
}

.fisrt_section_father {
    display: flex;
}

.first_section_child {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 95%;
    margin: 5px;
}

.imagem-perfil {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: -35px;
    padding: 4px;
    border: 2px solid #dcdcdc;
}

.imagem-giratoria {
    transition: transform 1s ease-in-out;
}
  
.imagem-giratoria.girando {
    transform: rotate(360deg);
}

.icone {
    border-radius: 50%;
    background-color: #fff;
    padding: 5px;
    box-sizing: border-box;
    display: inline-block;
    height: 25px;
    object-fit: cover;
    margin-top: 8px;
}

.info {
    align-items: center;
    display: flex;
}

.texto-icone {
    padding-top: 5px;
    margin-left: 5px;
}

.second_section {
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 5px;
    background-color: rgb(255, 255, 255);
}

.second_section_father {
    padding: 10px;
    width: 97.5%;
    background: linear-gradient(to bottom, #FDFDFD, #F5F5F5);
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.second_section_father:not(:first-child) {
    margin-top: 30px;
}

.second_section_father:not(:last-child) {
    margin-bottom: 10px;
}

.titulo_info {
    position: relative;
    display: inline-block;
    padding: 0.2em 0.4em;
    margin-bottom: 10px;
  }
  
.titulo_info::before {
    content: "";
    position: absolute;
    top: -0.2em;
    left: -0.2em;
    width: calc(100% + 0.4em);
    height: calc(100% + 0.4em);
    clip-path: polygon(0 0, 100% 0, calc(100% - 0.4em) 50%, 100% 100%, 0 100%);
    background: linear-gradient(to bottom, #e6e8ec, #657692);
    z-index: -1;
  }

.topicos {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

@media screen and (max-width: 800px) {
    main {
        width: 600px;
    }

    .first_section {
        height: 280px;
    }

    .imagem-perfil {
        margin-top: 50px;
        margin-left: 0;
    }

    .first_section_child {
        margin-top: -5px;
    }

    .auxiliar {
        height: auto;
    }

    .fisrt_section_father {
        display: flex;
        flex-direction: column;
    }

    .second_section_father {
        width: 96.5%;
    }
}

@media screen and (max-width: 600px) {
    main {
        width: 100%;
    }

    .first_section {
        height: 260px;
    }

    .second_section_father {
        width: 94.5%;
    }

    h1 {
        margin: 3px;
        margin-top: -10px;
        font-size: 32px;
    }

    .imagem-perfil {
        display: none;
    }
}

@media screen and (max-width: 400px) {
    main {
        width: 100%;
    }

    .first_section {
        height: 280px;
    }

    .second_section_father {
        width: 92.5%;
    }

    h1 {
        margin: 3px;
        font-size: 28px;
    }

}


@media screen and (max-width: 270px) {
    main {
        min-width: 200px;
        margin-left: 90px;
    }

    main section {
        min-width: 300px;
    }

    .second_section_father {
        width: 89.5%;
    }

    .texto-icone {
        font-size: 11px;
    }
}
